{
	servers {
		metrics
	}
	admin :2019
}

:80 {
	log {
		level DEBUG
		format json
		#output stdout
		output file /data/log/access.log {
			roll_size 10mb
			roll_keep 5
			roll_keep_for 720h
		}
	}

	handle / {
		respond "Lab Homepage"
	}
}
